<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.mapper.managerMapper">
<!-- 	<select id="checkManager" parameterType="hashmap" resultType="String"> -->
<!-- 		SELECT -->
<!-- 			m_email -->
<!-- 		FROM -->
<!-- 			tbl_manager -->
<!-- 		WHERE -->
<!-- 			m_email=#{userId} AND m_pwd=#{userPwd} -->
<!-- 	</select> -->
</mapper>
