<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.mapper.UserMapper">

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'email'.toString()">
				WHERE lower(u_email) like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>
	
	<select id="checkEmail" resultType="String">
		SELECT
			u_email
		FROM
			tbl_user
		WHERE
			u_email=#{email}
	</select>
	<select id="checkUserPw" parameterType="org.spring.domain.UserVO" resultType="String">
		SELECT
			u_email
		FROM
			tbl_user
		WHERE
			u_email = #{u_email} AND u_pwd = #{u_pwd} 
	</select>
	
	<select id="login" parameterType="hashmap" resultType="org.spring.domain.UserVO">
		SELECT 
			*
		FROM
			tbl_user
		WHERE u_email = #{email} AND u_pwd = #{pw}
	</select>
	
	<select id="getUserWithSession" parameterType="String" resultType="org.spring.domain.UserVO">
		<![CDATA[[
		SELECT
			*
		FROM
			tbl_user
		WHERE
			sess_id = #{key} and sess_limit > sysdate
		]]>	
	</select>
	<update id="rmbLogin" parameterType="hashmap">
		UPDATE
			tbl_user
		SET
			sess_id = #{sess_id}, sess_limit = #{limit}
		WHERE
			u_email = #{email}
	</update>
	<insert id="register" parameterType="org.spring.domain.UserVO">
		INSERT INTO
			tbl_user(u_email,u_fname,u_lname,u_pwd,sess_limit)
		VALUES(
			#{u_email},#{u_fname},#{u_lname},#{u_pwd},sysdate
		)
	</insert>
	
	
	<select id="detail" parameterType="String" resultType="org.spring.domain.UserVO">
		SELECT
			*
		FROM
			tbl_user
		WHERE 
			u_email = #{email}
	</select>
	<select id="listCount" resultType="int">
		SELECT 
			count(*)
		FROM
			tbl_user
		<include refid="search"></include>
	</select>
	<select id="list" parameterType="org.spring.domain.SearchCriteria" resultType="org.spring.domain.UserVO">
		<![CDATA[
			SELECT 
				* 
			FROM (
				SELECT 
					ROWNUM RNUM,u_email,u_fname,u_lname,u_pwd,u_point
				FROM(
					SELECT 
						u_email,u_fname,u_lname,u_pwd,u_point 
					FROM 
						tbl_user
		]]>
		<include refid="search"></include>
		<![CDATA[		
						
					ORDER BY
						u_email
			))
			WHERE
				RNUM > (#{page} -1) * #{perPageNum} and RNUM <= #{page} * #{perPageNum}
 		]]>
 		
	</select>
	
	<update id="update" parameterType="org.spring.domain.UserVO">
		<![CDATA[
 		UPDATE
 			tbl_user
 		SET
 			u_fname=#{u_fname}, u_lname=#{u_lname}, u_pwd=#{u_pwd}
 		WHERE
 			u_email=#{u_email} 
 		]]>
	</update>
	<delete id="delete" parameterType="String">
		DELETE
			FROM tbl_user
		WHERE
			u_email=#{email}
	</delete>
</mapper>
